html{margin: 0px 0px 0px 0px;}
body{margin: 0px 0px 0px 0px;
     padding:0px 0px 0px 0px !important;}
header{
    border-bottom:solid 3px #423f40;
    text-align: center;
    padding-bottom: 4px;
    
}
#imageLogo{
    
    
    margin-right: 200px;
    padding:40px 40px 40px;
    
}
#socialMedia{
    margin-top: 0px;
    border: solid 0px;
    width: 100%;
    border-top: 0px;
    }
.socialMediaLogo{
    margin-top: 0px;
    position: relative;
    float: left;
    left:200px;
    display: inline;
    padding: 0px 8px 0px 5px;
    
}
.divHeader{
    position: absolute;
    right: 200px;
    top: 8px;
}
.loginHeader{
    display: inline;
    padding: 0px 8px 0px 5px;
    border-right: 1px solid #454545;
}